<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sfwServiceTache.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <sfwServiceTache.Properties.Settings>
            <setting name="liste_wsimport_soap" serializeAs="String">
                <value>http://localhost/ws_importation/wsimport.asmx</value>
            </setting>
            <setting name="timer_ws_importation" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="timerOmni" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="listeAppelsTimerOmni" serializeAs="String">
                <value>http://localhost/OmniWs/wsMission.asmx/processMissionsCursor</value>
            </setting>
            <setting name="heureFixe" serializeAs="String">
                <value>13:17:00</value>
            </setting>
            <setting name="listeAppelsHeureFixe" serializeAs="String">
                <value>http://localhost/ws_unis/wsctrltache.asmx/ctrlTache</value>
            </setting>
            <setting name="wsUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="wsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="sfwServiceTache_WSZCL00_WSZCL00" serializeAs="String">
                <value>http://platon/ws_unis/WSZCL00.ASMX</value>
            </setting>
            <setting name="timerGet" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="listeAppelsTimerGet" serializeAs="String">
                <value />
            </setting>
            <setting name="timerDyn" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="listeAppelsTimerDyn" serializeAs="String">
                <value />
            </setting>
            <setting name="liste_wsimport" serializeAs="String">
                <value>http://localhost:2507/wsimport.asmx</value>
            </setting>
        </sfwServiceTache.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
