<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SafeWare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings/>
	<connectionStrings />
	<system.web>
	  <webServices>
		<protocols>
		  <add name="HttpSoap"/>
		  <add name="HttpGet"/>
		  <add name="HttpPost"/>
		  <add name="HttpPostLocalhost"/>
		  <add name="Documentation"/>
		</protocols>
	  </webServices>
		<!-- 
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur à true uniquement 
            lors du développement.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
		<authentication mode="Windows"/>
		<!--
            La section <customErrors> permet de configurer 
            les actions à exécuter si/quand une erreur non gérée se produit 
            lors de l'exécution d'une demande. Plus précisément, 
            elle permet aux développeurs de configurer les pages d'erreur html 
            pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
 <applicationSettings>
  <SafeWare.Properties.Settings>
   <setting name="zclParamRep" serializeAs="String">
    <value>C:\inetpub\ws_unis\zcl</value>
   </setting>
   <setting name="WebServices_WSZCL_WSZCLPAPA" serializeAs="String">
    <value>http://localhost/ws_unis/WSZCLPAPA.asmx</value>
   </setting>
  </SafeWare.Properties.Settings>
 </applicationSettings>
</configuration>
